@import '../../../styles/base.scss';

.nav {
    display: flex;
}

.nav__link {
    position: relative;
    padding: 10px 0;

    @include font(22px, $fw:500);
    color: $secondary-text-color;

    transition: color 250ms $timing-function;

    &:first-child {
        margin-right: 25px;
    };

    &:hover, 
    &:focus {
        color: $main-text-color;
    }
};

.nav__link--active {
    color: $main-text-color;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;

        height: 3px;
        width: 110%;

        transform: translateX(-50%);

        border-radius: 40%;
        background-color: #f0f0f0;
        box-shadow: $shadow-decor-element;
    }
}

