@import '../../styles/shared.scss';

.add-form-container {
    width: 500px;
    margin: 0 auto;
    padding: 0 40px 50px 40px;
    margin-bottom: 20px;
}

.add-form__title {
    margin-left: 35px;
    font-size: 70px;
    font-weight: 700;
}

.add-form {
    display: flex;
    flex-direction: column;
}

.add-form__label {
   margin-bottom: 15px;

   @include font(12px, 1.7, 400);
   color: $secondary-text-color;
}

.add-form__input-box {
    position: relative;
}

.add-form__input {
    position: relative;
    width: 100%;
    padding: 10px 35px;

    background-color: #fafafa;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    box-shadow: $shadow-input;
    outline: none;

    @include font(16px, 1.2, 400);
    color: $main-text-color;

    transition: box-shadow 250ms $timing-function;

    &:focus {
        box-shadow: $shadow-input-focus;
    }
}

.add-form__btn {
    @extend %button;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;

    background-color:$green;
    border-radius: 4px;
    box-shadow: $shadow-btn;

    @include font(16px);
    color: #fff;

    transition: box-shadow 250ms $timing-function,
    transform 250ms $timing-function;

     &:hover,
     &:focus {
        box-shadow: $shadow-btn-hover;
        transform: scale(1.05);
     }

}

.add-form__icon {
    position: absolute;
    left: 10px;
    top: 50%;
    color: $green;
    font-size: 18px;

    transform: translateY(-50%);

    transition: color 250ms $timing-function,
        font-size 250ms $timing-function;

    .add-form__input-box:focus-within & {
        font-size: 1.3em;
    }
}